In [12]:
import jushacore as mapper 
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import scipy
import json
%matplotlib inline

In [2]:
data = 'data/input_data_minmax.csv'
df = pd.read_csv(data)
data = df.ix[:, :-2].values
cont = df.shape[0]
df.shape

(11586, 31)

In [3]:
df.head()

,gender,age,marriage,education,job,risk_preference,client_lv,old_new,client_cat,SME_client,...,prospect_high,client_contr,client_activ,client_channel,inv_product,Liab_Inv_107,Fund_Inv_130,Ins_Inv_170,pc1,pc2
0,1,0.447368,0,0,0,0.6,0.8,1,1,0.000000,...,1,1.000000,1.000000,0.400000,0.6,1,0,0,0.551637,0.640895
1,1,0.578947,0,0,0,0.4,0.8,0,1,0.333333,...,1,1.000000,1.000000,0.466667,0.4,1,0,0,0.420827,0.417038
2,0,0.561404,0,0,0,0.8,0.4,1,1,0.000000,...,0,1.000000,0.833333,0.466667,0.4,1,0,0,0.438143,0.447074
3,0,0.307018,0,0,0,0.8,0.6,1,1,0.000000,...,1,1.000000,0.833333,0.466667,1.0,1,0,0,0.691842,0.762915
4,0,0.640351,0,0,0,0.6,0.4,0,1,0.000000,...,0,0.833333,0.833333,0.466667,0.6,1,0,0,0.358745,0.544899

In [4]:
data.shape

(11586, 29)

In [5]:
filt = df.ix[:, [-1,-2]].values
filt.shape

(11586, 2)

In [9]:
patches = cover(filt)

t = 0
for level in patches:
    print level.index
    t+=1
    #if t >10: break

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(0, 7)
(0, 8)
(0, 9)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(6, 0)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)
(6, 7)
(6, 8)
(6, 9)
(7, 0)
(7, 1)
(7, 2)
(7, 3)
(7, 4)
(7, 5)
(7, 6)
(7, 7)
(7, 8)
(7, 9)
(8, 0)
(8, 1)
(8, 2)
(8, 3)
(8, 4)
(8, 5)
(8, 6)
(8, 7)
(8, 8)
(8, 9)
(9, 0)
(9, 1)
(9, 2)
(9, 3)
(9, 4)
(9, 5)
(9, 6)
(9, 7)
(9, 8)
(9, 9)

In [12]:
def to_d3js_graph(mapper_output, fn):
    """
    Convert the 1-skeleton of a L{mapper_output} to a dictionary
    designed for exporting to a json package for use with the d3.js
    force-layout graph visualisation system.
    """
    G = {}
    G['vertices'] = [{'index': i, 'level': n.level, 'members':
                      list(n.points), 'attribute': n.attribute}
                     for (i,n) in enumerate(mapper_output.nodes)]
    G['edges'] = [{'source': e[0], 'target': e[1], 'wt':
                   mapper_output.simplices[1][e]} for e in
                  mapper_output.simplices[1].keys()]
    """
    distinctAttr = [i['attribute'] for i in G['vertices']]
    distinctAttr = list(set(distinctAttr))
    distinctAttr.sort()
    G['distinctAttr'] = distinctAttr
    G['colormap'] = genJetColormap(len(distinctAttr))

    #generate two maps for index key-value pairs
    G['indexNameMap']= {}
    G['nameIndexMap']= {}

    for k,v in enumerate(selfvars.df.index):
        G['indexNameMap'][k] = v
        G['nameIndexMap'][v] = k
    """
    
    with open(fn+'.json', 'w') as f:
        json.dump(G, f)
    #save js

In [ ]:
def wrapper(data, interval, overlap, fn):
    cluster = mapper.single_linkage()
    cover = mapper.cover.cube_cover_primitive(interval, overlap)
    metricpar = {'metric': 'euclidean'}
    
    mapper_output = mapper.jushacore(data, filt, cover=cover,\
                             cutoff=None, cluster=cluster,\
                             metricpar=metricpar, point_labels=df.index.values)
    mapper.scale_graph(mapper_output, filt, cover=cover, weighting='inverse',\
                  exponent= 1)
    
    to_d3js_graph(mapper_output, fn)

In [ ]:
fns = ['10interval', '20interval', '30interval', '40interval']
fns = ['result/'+i for i in fns]
interval = [10, 20, 30, 40]
for i, f in zip(interval, fns):
    wrapper(data, i, 75, f)